body {
	margin: 30px auto;
	max-width: 75%;
	line-height: 1.2;
	background: #262727;
	color: #9f8e88;
    font-family: CutiveMono; 
}

@font-face {
    font-family: CutiveMono;
    src:url("./media/CutiveMono-Regular.ttf");
}

a {
    text-decoration: none;
	color: #9f8e88;
}

a:hover {
    text-decoration: underline;
}

.links {
    font-size: 1em;
    text-align: left;
    display: inline-block;
}

.splash-img  {
    width: 100%;
    margin-bottom: 20px;
}

img {
	margin-bottom: 20px;
    filter: invert(66%) sepia(2%) saturate(2591%) hue-rotate(328deg) brightness(88%) contrast(84%);
}

.source {
	position: fixed;
	bottom: 5px;
	text-align: center;
	font-size: 0.5em;
	margin-right: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
}
